body {
    background-color: aquamarine;
}
section {
    background-color: aqua;
}
div {
    background-color: blueviolet;
}
h1 {
    background-color: blue;
}
p {
    background-color: brown;
}
.First {
    background-color: chartreuse;
} 
#second {
    background-color: red;
}